.header{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px ;
}

.header-left{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #E0E0E0;
    padding: 10px;
    flex: 0.3;
    min-width: 70px;

}

.input {
    border: none;
    width: 100%;
    background-color: #E0E0E0;
  }





.header-right{
    display: flex;
    align-items: center;
    
}

.header-right > h4 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: 7px;
    
  }