.sidebar{
    border: 1px solid black;
    height: 100vh;
    flex: 0.172;
    min-width: 230px;
    padding-left:5px;
    padding-top: 2px;
    padding-right:10px;
    background-color: #040404;
    color: aliceblue;
    height: 100vh;
    place-items: center;
}

.sidebar_logo{
    margin-right:auto ;
    height: 85px;
    padding: 10px;
}


.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.sidebar_text{
    font-size: large;
    
}


.hr{
    background-color: #292929;
    height: 0.1px;
    margin: 9px auto;
}